#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.editor {
  margin: 0 var(--side-padding);
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px !important;
}

.editor .inputs {
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 60px;
  overflow: hidden;
}

.editor .inputs > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.editor .inputs select {
  height: 50%;
}

.editor input[type="text"] {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--light-grey-color);
}

.editor textarea {
  flex: 1 1 auto;
  border: 1px solid var(--light-grey-color);
  outline: 0;
  margin-bottom: 20px;
  resize: none;
  padding: 20px;
}

.buttons > * {
  margin-right: 20px;
}

.image_previewer {
  border: 1px solid var(--light-grey-color);
  height: 100%;
  overflow: hidden;
}

.image_previewer img {
  display: block;
  object-fit: cover;
  height: 160px;
  width: 200px;
}

.select_image {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .editor .inputs {
    grid-gap: var(--side-padding);
  }
  .image_previewer {
    display: none;
  }
}

@media (max-width: 700px) {
  .image_previewer {
    display: none !important;
  }

  .editor .inputs {
    grid-template-columns: 1fr;
  }
}
