.my-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 0 var(--side-padding);
}

.my-posts img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.my-posts .post {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
}

.my-posts .post-data {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .my-posts {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--side-padding);
    grid-row-gap: 30px;
  }
}

@media (max-width: 450px) {
  .my-posts {
    grid-template-columns: 1fr;
  }
}
