.displayer {
  margin-top: 10px;
  margin-left: var(--side-padding);
  margin-right: var(--side-padding);
  margin-bottom: 30px !important;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.post-header .description {
  margin-bottom: 0;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons > * {
  padding: 8px 16px;
}

.header-icons i {
  font-size: 150%;
  cursor: pointer;
}

.displayer-img {
  margin: 20px 0;
}

.displayer-img img {
  max-width: 100%;
  min-width: 200px;
  max-height: 200px;
  object-fit: contain;
}
